.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 100px 100px;
}

.form{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.input{
  height: 30px;
  border: 0;
  border-radius: 10px;
  box-shadow: 5px 5px 30px grey;
}

.cards{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.submitButton{
  height: 30px;
  color: white;
  background-color: #00c83d;
  border: 0;
  border-radius: 10px;
}